COMPATIBILITY_DATE=2025-01-13
CURRENT_ACADEMIC_YEAR_ID="5133cbba-7e54-4795-9bad-0caae06e0284"
CURRENT_STUDENT_ADMISSION_ACADEMIC_YEAR_ID="5133cbba-7e54-4795-9bad-0caae06e0284"
CURRENT_INSTITUTION_ID="ed7e8c02-451b-4548-aa81-26b8d0b7fdec"
CURRENT_INSTITUTION_CODE="092010"
VITE_API_SERVER_URL="http://localhost:5800/api/v1/"
VITE_SERVER_URL="http://localhost:5800/"
VITE_APP_NAME="XARX"
VITE_WEB_SOCKET_SERVER_URL="ws://localhost:5800/ws"
VITE_APP_TYPE="xarx"